.bold {
    font-weight: bold;
}

.lopac {
    opacity: 1;
}

.lopac:hover {
    opacity: 0.6;
}

.large-text {
    font-size: 2em;
}

.my-pulse {
    animation: pulse 2s infinite alternate-reverse;
  }
  
@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0.4);
        color: black;
    }
    100% {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.015); }

html {
    background-image: url("images/Langkawi1.jpg"); 

    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    background-color: #8ba700;
}